@font-face {
    font-family: 'moving';
    src: url('MovingRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charpentier1';
    src: url('CharpentierRenRed-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Charpentier2';
    src: url('CharpentierRenRed-Demi.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charpentier3';
    src: url('CharpentierRenRed-Normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '4';
    src: url('CharpentierRenRed-DemiObl.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Motterdam';
    src: url('Motterdam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

